<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/drp_n_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/drp_n_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GDC_APP"
        android:usesCleartextTraffic="false"
        tools:replace="android:allowBackup"
        tools:targetApi="31" >

        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HohActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveyorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrashReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DownloadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GridStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardMapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:exported="true"
            android:name="com.esri.arcgisruntime.security.DefaultOAuthIntentReceiver"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/oauth_redirect_host"
                    android:scheme="authenticate-with-oauth" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WorkAreaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StructureActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".activity.VideoRecorderActivity" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- /> -->
        <activity
            android:name=".utils.FullScreenImage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>